# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credentials / Secrets
*.pem
*.key
.env
.env.*

# Diagram intermediate files
**/images/*.html

# OS
.DS_Store
